// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$white: #ffffff;
$btn-linear-gradient-light-blue: #76E5FC;
$btn-linear-gradient-medium-blue: #2498af;
$btn-dark-blue: #0F60C4;

/* charte graphique */
$rich-black: #0f1a20;
$dark-orange: #FFA45B;
$light-orange: #FFDA77;
$light-gray: #FBF6F0;
$light-blue: #AEE6E6;
