// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.homepage-container{
  margin: 0 auto;
  width: 92%;
  height: auto;
  display: block;
}

.card-homepage{
  margin: 0 auto;
  width: 280px;
  height: 180px;
}

.img-sizing-home{
  width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
}

.model-text-homepage{
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.cars-container-home{
  width: 1000px;
  margin: 0 auto;
}

.card-text-homepage{
  color: #8D8D8D;
  font-size: 1em;
  font-weight: 400;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.row{
  margin: 0px;
}

.link-homepage{
  color: #D23333;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  padding-left: 10px;
  &:hover{
  color: black;
  }
}

.link-homepage{
  color: black;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  &:hover{
    color: #D23333;
  }
}
