/* Importing layouts */
@import url("pages/cities.css");

body {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  min-height: 100vh;
  background-color: white;
}

h1, h2, h3 {
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}
.padded {
  padding: 30px 0;
}

.card-near-map {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}

.content {
  display: flex;
}

.cards-near-map {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  padding: 0px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.img-fit-container{
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-index{
  margin: 0 auto;
  width: 280px;
  height: 180px;
}

.img-sizing-index{
  width: 100%;
  display: block;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.model-text-index{
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.card-text-index{
  color: #8D8D8D;
  font-size: 1em;
  font-weight: 400;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.cars-container{
  width: 1000px;
  margin: 0 auto;
}

.border-card-bottom{
  border: 1px solid #939593;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.link-index{
  color: #D23333;
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  padding-left: 10px;
  &:hover{
  color: black;
  }
}
