<h2 class="my-4">Create a Booking</h2>
<%= simple_form_for([car, booking]) do |f| %>
  <div class="form-group">
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" }, class: "form-control white-input", placeholder: "DD-MM-YYYY" } %>
  </div>
  <div class="form-group">
    <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" }, class: "form-control white-input", placeholder: "DD-MM-YYYY" } %>
  </div>
  <%= f.button :submit, "Create Booking", class: "btn btn-primary" %>
<% end %>
