<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_13/2798361/190325-rental-cars-cs-229p.jpg);">
  <div class="container">
    <h1>RentCar is <strong>the solution</strong> to <strong>make holidays easier</strong>!</h1>
    <p>Find the best offer to travel by car all around the world</p>
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
      <div class="search-form-control form-group d-flex">
        <input class="form-control string required" type="text" placeholder="Where do you wanna go?">
        <div data-address-autocomplete-target="address" data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>"></div>
        <a href="<%= cars_path %>" class="btn btn-primary" style="width: 200px; border-radius: 4px; margin-left: 30px;">
        <i class="fas fa-search" style="margin-right: 10px"></i>Search</a>
      </div>
    </form>
  </div>
</div>
