<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media-cldnry.s-nbcnews.com/image/upload/newscms/2019_13/2798361/190325-rental-cars-cs-229p.jpg);">
  <div class="container">
    <h1>RentCar is <strong>the solution</strong> to <strong>make holidays easier</strong>!</h1>
    <p>Find the best offer to travel by car all around the world</p>
            <%= form_with url: cars_path, method: :get, class: "d-flex" do %>
              <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: "Type a keyword"
                %>
              <%= submit_tag "Search", name: "", class: "btn btn-primary ms-3"%>
            <% end %>
  </div>
</div>
