<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>RentCar is <strong>the solution</strong> to <strong>make holidays easier</strong>!</h1>
    <p>Find the best offer to travel by car all around the world</p>
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
      <div class="search-form-control form-group d-flex">
        <input class="form-control string required" type="text" placeholder="Where do you wanna go?"/>
        <a href="<%= cars_path %>" class="btn btn-primary" style="width: 200px; border-radius: 4px; margin-left: 30px;">
        <i class="fas fa-search" style="margin-right: 10px"></i>Search</a>
        </button>
      </div>
    </form>
  </div>
</div>
