  <footer class="container container-gray">
      <div class="row" >
        <div class="col-6">
          <a href="#">Contact information</a>
        </div>
        <div class="col-6">
            <!-- <div class="footer-links"> -->
              <p>Follow us on : </p>
              <p>
                <a href="#"> <i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
              </p>
           <!-- </div> -->
        </div>
     </div>
  </footer>
<%#  %>
