
<footer class="container-flex">
  <div class="row justify-content-center">
      <div class="footer" >
          <div class="footer-links">
            <a href="#">Contact information </a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
      </div>
    </div>
</footer>
