<div class="container-flex">
  <div class="row justify-content-center">
      <div class="footer" >
          <div class="footer-links">
            <a href="#">Contact information</a>
            <a href="#">Follow us on :</a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
              <p> &copy; 2023 Ideal Car Rental</p>
          </div>
     </div>
  </div>
</div>
