<h1>Dashboard pages</h1>

<div class="container">
  <div class="row">

    <div class="bookings">
      <h3>Bookings</h3>
    </div>

    <div class="cars">
      <h3>Cars</h3>
    </div>

   </div>
</div>
