@import "../config/colors";
/*
.btn-gradient {
  color: $white;
  text-shadow: 1px 1px ;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 500;
  background: linear-gradient($btn-linear-gradient-light-blue, $btn-linear-gradient-medium-blue);
  border: 1px solid $btn-dark-blue;
  font-size: 1em;
  margin-top: 30px;
  transition: transform 0.5s;
  width: 100%;
  cursor: pointer;
  &:hover {
    background: linear-gradient($rich-black, $btn-dark-blue);
    color:$white;
    text-shadow: -1px 1px $btn-dark-blue;
  }
}
*/
a{
  text-decoration: none;
  color: rgb(41, 40, 40);
  font-weight: 500;
}

.btn-primary{
  font-size: 1em;
  background-color: $light-blue;
  color: black;
  text-shadow: 1px 1px 1px white;
  width: 100%;
  border-radius: 5px;
  &:hover{
    background-color: black;
    color: $light-blue;
  }
}
