@import "../config/fonts";

.container-cards-flex{
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px;
  width: 860px;
}

.container{
  width: 860px;
  margin: 0 auto;
  min-height: 90vh;
}

.carousel{
  width: 860px;
}


.box1{
  width: 430px;
  flex-direction: column;
}

.box2{
  width: 430px;
  flex-wrap: wrap;
}

.row > *{
  padding-right: 0px;
  padding-left: 0px;
}

.col-6-sm{
  margin: 0px;
  padding: 0px;
}

.container-fluid{
  background-color: #f3fdfe;
  margin-top: 0px;
  margin-bottom: 0px;
}

body{
  font-family: $body-font
}

h1, h2, h3, h4, h5{
  font-family: $headers-font;
}
