.row justify-content-center {
  width: 1000px;
  margin-bottom: O;
}

.footer {
  background: #AEE6E6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 60px;
  padding: 60px 20px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.footer-links a {
  color: black;
  opacity: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 0px 50px;
}
.footer-links a:hover {
  opacity: 0.5;
}
.footer .fab {
  color: #0F1A20;
  font-size: 50px;
}
