.footer {
  background: #AEE6E6;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 60px;
  padding: 60px 20px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer-links a {
  color: black;
  opacity: 1;
  text-decoration: none;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 0px 50px;
  margin-right: 40px;
}
.footer-links a:hover {
  opacity: 0.6;
}
.footer .fab {
  color: #0F1A20;
  font-size: 45px;
}
