p{
  text-align: left;
}

.card-text{
  color: black;
  font-weight: 500;
  font-size: 0.8em;
}

.card-text-bigger{
  color: black;
  font-weight: 500;
  font-size: 0.9em;
}

h3{
  color: #010054;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  margin-top: 15px;
  text-shadow: 0 0 1px rgba(0,0,0,0.7);
  text-transform: uppercase;
}

h4{
  color: #010054;
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 15px;
  text-shadow: 0 0 1px rgba(0,0,0,0.7);

}
