p{
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

.card-text{
  color: black;
  font-weight: 500;
  font-size: 0.8em;
  font-family: 'Poppins', sans-serif;
}

.card-text-bigger{
  color: black;
  font-weight: 400;
  font-size: 0.8em;
  font-family: 'Poppins', sans-serif;
}

h1{
  font-family: 'Playfair Display', serif;
}
h3{
  color: #010054;
  font-weight: 500;
  font-size: 2em;
  text-align: center;
  margin-top: 15px;
  text-shadow: 0 0 1px rgba(0,0,0,0.7);
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
}

h4{
  color: #010054;
  font-weight: 600;
  font-size: 1.2em;
  margin-top: 15px;
  text-shadow: 0 0 1px rgba(0,0,0,0.7);
  font-family: 'Playfair Display', serif;
}
